﻿@model DaDataApp.Models.Result
@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    </head>
    <body>
        <form class="login-box">
        @if (Model != null && Model.Error != null)
        {
            <div class="mb-3">
                <b><label style="color: red">@Model.Error</label></b>
            </div>
        }
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLogin" name="inputAddress" placeholder="Адрес">
            </div>
            <div class="mb-3">
                <button asp-controller="Home" formmethod="post" type="submit" class="btn btn-primary">Ok</button>
            </div>
        </form>
        @if (Model != null && Model.Error == null)
        {
            <div class="mb-3">
                <b>Полный адрес:</b> @Model.FullAddress
            </div>
        }    
</body>
</html>
